/lec20/node_modules
/lec21/middlewares/node_modules
/lec21/CsrVsSsr/node_modules
/lec21/database/node_modules
/lec21/database/data
/lec22/mongodb/node_modules
/lec22/mongodb/data
/lec23/cookies/node_modules
/lec23/sessions/node_modules
/lec24/node_modules
/lec24/.env
/lec24/data
/lec26/node_modules
/lec27/react-1/node_modules